.bgflower{
 background-image:url("../assets/img/宥頤的小花花.jpg");
}

h1{
    color:#D5B9B2
}

.mycolor{
    color:#c38aab !important;
}

h2{
    color: #929aad;
}

h3{
    color:#c59dc2;
}

border-1{
    border: 2px solid #c59dc2
}

.imgtest{
     width: 200px;
}

.school{
    color:#f3d825
}

.gmailtest{
    color:#d9cf8c
}