.bgflower{
 background-image:url("../assets/img/宥頤的小花花.jpg");
}

h1{
    color:#f495cce5
}

.mycolor{
    color:#eddce6 !important;
}
h2{
    color: #929aad;
}

h3{
    color:#c59dc2;
}

p{
    color:rgb(109, 88, 88);
    background-color: #ccb0c9;
    border: 2px,solid,#c2aed9e5;
}